<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Express To-Do</title>
</head>
<body>
  <h1>Edit Todo</h1>
  <form action="/todos/<%= idx %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="todo" value="<%= todo.todo %>">
    <input type="checkbox" name="done" <%= todo.done ? 'checked' : '' %>>
    <button type="submit">Save Todo</button>
  </form>
</body>
</html>