<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Express To-Do</title>
</head>
<body>
  <h1>Todo #<%= todoNum %></h1>
  <h3><%= todo.todo %></h3>
  <h3>Complete: <%= todo.done ? 'Yes' : 'No' %></h3>
  <a href="/todos/<%= todoNum - 1 %>/edit">Edit To-Do</a>
</body>
</html>