<!DOCTYPE html>
<html>
  <head>
    <title>Realtime with Socket.io</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header><span>realtime-circles</span><button>clear</button></header>
    <section id="circles"></section>
    <footer><ul id="players"></ul></footer>
  </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
</html>
