.header {
  background-color: #282c34;
  min-height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  color: white;
}

.header a {
  font-size: 2vmin;
  color: lightcyan;
  margin: 1vmin;
}

.header a:hover {
  color: white;
}