<!DOCTYPE html>
<html>
  <head>
    <title>Ugly Chat</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Ugly Chat</h1>
    <ul id="messages"></ul><hr>
    <label>Your Name:</label><input id="user-name"><br><br>
    <label>Message:</label><textarea id="new-msg"></textarea><br><br>
    <input type="button" id="btn-send-msg" value=" Send Message ">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
