<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <h1 class="jumbotron text-center">GitHub Users</h1>
    <div class="row">
      <div class="col-xs-6">
        <form action="/search" method="POST">
          <div class="input-group">
            <input type="text" name="search" autocomplete="off" class="form-control"
              placeholder="Enter part of a user's name...">
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit">Search</button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-xs-6">
        <form action="/" method="POST">
          <div class="input-group">
            <input type="text" name="username" autocomplete="off" class="form-control"
              placeholder="Enter a GitHub Username">
            <span class="input-group-btn">
              <button class="btn btn-success"
                type="submit">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="row col-xs-8 col-xs-offset-2">
      <% if (usersData.items.length) { %>
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h2>Found <%= usersData.total_count %> user(s)</h2>
          </div>
          <div class="panel-body">
            <h3>GitHub Usernames:</h3>
            <div class="list-group">
              <% usersData.items.forEach(function(user) { %>
                <a href="/?username=<%= user.login %>"
                  class="list-group-item">
                  <%= user.login %>
                </a>
              <% }); %>
            </div>
          </div>
        </div>
      <% } else { %>
        <h3 class="text-center text-info">
          Sorry, no users found.  Try again.
        </h3>
      <% } %>
    </div>
  </body>
</html>
