<%- include('../partials/header') %>

<p>Please first ensure that the Performer is not in the dropdown
  <select>
    <% performers.forEach(function(p) { %>
      <option><%= p.name %></option>
    <% }) %>
  </select>
</p>
<form id="add-performer-form" action="/performers" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Born:</label>
  <input type="date" name="born">
  <input type="submit" value="Add Performer">
</form>

<%- include('../partials/footer') %>
